.todo-input {
  height: 2em;
  margin-bottom: 1em;
  width: 100%;
  display: block;
}

.primary-button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
}
